/*body {
	margin: 0;
	background-color: #DBCD8F;
}

#topbar {
	margin-left: 12%;
	margin-right: 12%;
	height: 65px;
}

#input{
	margin:12%;
	margin-top: 5px;
	border-top-style: solid;
	border-width: 2px;
	border-color: #474747;
}

.option {
	margin-top: 16;
	margin-bottom: 0;
	width: 100%;
	padding: 0;
}

h1 {
	font-size: 200%;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 0;
}

form {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
}

#text {
	height: 24px;
	width: 100%;
	padding: 0;
}*/

#input {
	background-color: #999;
	margin: 0;
	padding-bottom: 1em;
	padding-top: 2em;
	margin-left: 0;
	margin-right: 0;
    /*height: 200;*/
    border: 1px;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;
}

#all {
    border: 1px;
    border-radius: 20px;
    border-color: #000;
    border-style: solid;
	margin: 4%;
    background-color: #CCC;
}

body {
	background-color: #9FC1ED;
}

p {
	font-size: 150%;
	text-align: center;
	margin: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 800%;
	text-align: center;
	margin-bottom: 10;
	margin-top: 10;
}

/* Only one input per row */
select, input, button, progress {
	display: block;
	margin-bottom: 1em;
	font-size: 500%;
	width: 90%;
	margin-left: 5%;
	margin-right: auto;
	/*background-color: #FFF;*/
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

@media (max-width : 300px) {
h1 {font-size: 220%}
}